# Nuxt dev/build outputs
www/.output
www/.data
www/.nuxt
www/.nitro
www/.cache
www/dist
www/.netlify

# Node dependencies
www/node_modules

# Logs
www/logs
www/*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

docker-compose.yml
