[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
python-dotenv = "*"
ezcord = "0.7.5"

[dev-packages]

[scripts]
public = "python main.py"
generic = "python main_emoji.py"
